In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data['POI'] = train_data['POI/street'].str.split('/', expand=True)[0]
train_data['street'] = train_data['POI/street'].str.split('/', expand=True)[1]

In [4]:
train_data

,id,raw_address,POI/street,POI,street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika,,jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/,,
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung,,siung
3,3,"toko dita, kertosono",toko dita/,toko dita,
4,4,jl. orde baru,/jl. orde baru,,jl. orde baru
...,...,...,...,...,...
299995,299995,jend ahmad yani 331 kertasari ciamis,/jend ahmad yani,,jend ahmad yani
299996,299996,"raya cila kko, cilandak timur kel.",/raya cila kko,,raya cila kko
299997,299997,tanjung gusta jl. yaya 2 no 17,/,,
299998,299998,jalan cipadu jaya taman asri gang bijaksana 3 ...,taman asri/,taman asri,
299999,299999,jaya maspion permata blok beryl b2 no.58,jaya maspion permata/,jaya maspion permata,

In [14]:
train_data[train_data.apply(lambda x: x['POI'] not in x['raw_address'] ,axis=1)]

,id,raw_address,POI/street,POI,street
10,10,"cikahuripan sd neg boj 02 klap boj, no 5 16877",sd negeri bojong 02/klap boj,sd negeri bojong 02,klap boj
11,11,"yaya atohar,",yayasan atohariyah/,yayasan atohariyah,
20,20,"toko bang ajs,",toko bangunan ajs/,toko bangunan ajs,
40,40,mar tabl metro iringmulyo metro timur,markaz tabligh metro/,markaz tabligh metro,
44,44,sd neg 12 anggrek,sd negeri 12 anggrek/,sd negeri 12 anggrek,
...,...,...,...,...,...
299963,299963,masl letjen sut,maslikah/letjen sut,maslikah,letjen sut
299968,299968,"vok toko, k h mas mans, kampung bali",vokals toko/k h mas mans,vokals toko,k h mas mans
299974,299974,"islamic training cen pare, brawi, pelem pare",islamic training center pare/brawi,islamic training center pare,brawi
299983,299983,"la banda minima, cile raya, pesanggrahan",la banda minimarket/cile raya,la banda minimarket,cile raya
299990,299990,"ver, durian bajenis",veruna/,veruna,

In [18]:
def find_first_index(ra_split, st_split):
    if len(ra_split) >= st_split:
        num_iter = len(ra_split) - len(st_split) + 1
        overlap_list = []
        for i in range(num_iter):
            window = ra_split[i: i + len(st_split)]
            overlap = set(window) & set(st_split)
            overlap_list.append(len(overlap))
        max_overlap = [e for e in range(len(overlap_list)) if overlap_list[e] == max(overlap_list)]
        if len(max_overlap)==1:
            return max_overlap[0]
        else:
            count_list = []
            for idx in max_overlap:
                for i in range(len(st_split)):

SyntaxError: unexpected EOF while parsing (<ipython-input-18-5e2d3d64edfd>, line 15)

In [17]:
{1,2} & {3,4}

set()